html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  font-size: 14px;
  margin: 0;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

/* header початок*/
.hat-sector {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.hat-display {
  margin: 0px auto;
  display: flex;
  align-items: center;
  width: 1200px;
  padding: 25px 15px;
}

/*початок навігації*/
.sector-nav {
  display: flex;
  align-items: center;
}

.web {
  margin-right: 90px;
  text-decoration: none;
  color: #212121;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
}

.web-span {
  color: #2196f3;
}

.sector-ul {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.sector-li:not(:last-child) {
  margin-right: 50px;
}

.list {
  text-decoration: none;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
}

.list:hover,
.list:focus {
  color: #2196f3;
}

.adrec-ul {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.adrec-li:not(:last-child) {
  margin-right: 50px;
}

.adres-el {
  text-decoration: none;
  color: #757575;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
}

.adres-el:hover,
.adres-el:focus {
  color: #2196f3;
}

/*Початок title*/

.main-title {
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0;
}

.title {
  letter-spacing: 0.06em;
  line-height: 1.36;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  margin-bottom: 30px;
}

.button-title {
  text-transform: uppercase;
  color: #ffffff;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  background: #2196f3;
}

/* початок функцій*/

.sector-specific {
  display: flex;
  padding-top: 94px;
}

.specific-conteiner {
  margin: 0 auto;
  width: 1200px;
  align-items: center;
  padding: 0px 15px;
}

.specific-ul {
  display: flex;
}

.specific-li:not(:last-child) {
  margin-right: 30px;
}

.function {
  text-transform: uppercase;
  text-decoration: none;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
}

.function-paragraph {
  width: 270px;
  text-decoration: none;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

/*секція роботи*/

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-conteiner {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
}

.headlines {
  text-align: center;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
}

.work-ul {
  display: flex;
}

.work-li:not(:last-child) {
  display: block;
  max-width: 100%;
  margin-right: 30px;
}

/* секція команди*/

.comando-conteiner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-comando {
  margin: 0 auto;
  padding: 94px 15px;
  align-items: center;
  width: 1200px;
}

.comando {
  text-align: center;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
}

.comando-ul {
  display: flex;
  text-align: center;
}

.comando-li:not(:last-child) {
  margin-right: 30px;
}

.function-name {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
}

/* сектор підвал*/

.footer {
  background: #2f303a;
  padding: 60px 0;
}

.footer-conteiner {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

.web-footer {
  display: block;
  margin-bottom: 30px;
  text-decoration: none;
  color: #ffffff;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
}

.footer-li:not(:last-child) {
  margin-bottom: 10px;
}

.adres {
  margin: 10px auto 10px 0;
  text-decoration: none;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

/*початок стилів портфоліо*/

.hat-display-portfolio {
  margin: 0px auto;
  display: flex;
  align-items: center;
  width: 1200px;
  padding: 25px 15px;
  border-bottom: 1px solid #ececec;
}

/*секція кнопок*/

.button-filters {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.button-ul {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 54px;
}

.button-li:not(:last-child) {
  margin-right: 8px;
}

.button {
  padding: 6px 22px;
  border-radius: 4px;
  line-height: 26px;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: #212121;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
}

button:hover,
button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

/*початок основи портфоліо*/

.function-portfolio-section {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.function-portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  width: 1230px;
  padding: 0 15px;
  margin: 0 auto 95px auto;
}

.function-portfolio-li {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.cart {
  padding: 20px;
}

.function-portfolio {
  text-decoration: none;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
}

.function-paragraph-portfolio {
  text-decoration: none;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

address {
  font-style: normal;
}

.portfolio-footer-li {
  margin-bottom: 10px;
}
